*{
    margin: 0;
    padding: 0;
}

.navbar{
    
    display: flex;
    width: 85%;
    margin: auto;
    cursor: pointer;
    position: sticky;
    top: 0;
    z-index: 100;
    
}

.navitems img{
    height: 40px;
    width: 40px;
}

.navitems{
    display: flex;
    align-items: center;
    margin-left: 30%;
    gap: 10px;
   
   
    
}
.shape{
    border-radius: 100%;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 100px;
    top: 30px;
}
.shape1{
    border-radius: 100%;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 150px;
    top: 30px;
}

.sare{
background-color: rgb(255, 255, 255);
height: 60px;
width: 900px;
left: 16%;
box-shadow:0px 0px 20px 0px rgb(155, 133, 133);
border-radius: 70px;
position: relative;
display: flex;
align-items: center;
justify-content: space-between;
gap: 20px;

}
.sare .qoraal{
    width: 32%;
    margin-left: 10px;
}
.shape3{
    border-radius: 100%;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 10px;
    
    }

    .shape1 img{

        position: absolute;
         height: 40px;
         width: 40px;

    }
    .shape img{

        position: absolute;
         height: 40px;
         width: 40px;

    }
      .shape3 img{

        position: absolute;
         height: 40px;
         width: 40px;

    }

    .grids{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        position: relative;
        left: 3%;
        
    }
    .grids .head1{
        position: absolute;
        top: 20px;

    }

    .griditems{
        width: 200px;
        height: 190px;
        border-radius: 2cap;
        left: 3%;
        box-shadow:0px 0px 20px 0px rgb(139, 111, 111);
       margin-top: 60px;
       transition-property:background-color ;
       position: relative;
       
       }
     
        
  
    #sawir{
        position: absolute;
        height: 190px;
        width: 200px;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        border-radius: 20px;
    
    }
    .shapeimg{
        position: absolute;
        border-radius: 20px;
        color: white;
        padding: 3px;
        margin: 10px;

    }

.qoraal61{
    top: 190px;
    z-index: 50%;
    position: absolute;
    font-weight: bold;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: initial;

}

.qoraal21{
    top: 190px;
    z-index: 50%;
    position: absolute;
    font-weight: bold;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: initial;

}